.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.logo-title-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 3rem;
  width: 3rem;
  margin-right: 0.5rem;
}

.header-container h1 {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.header-container svg {
  flex-shrink: 0;
  fill: var(--text-color);
}
