:root {
    --background-color: #ffffff;
    --text-color: #111111;
  }
  
  .dark-theme {
    --background-color: #111111;
    --text-color: #ffffff;
  }
  
  .light-theme {
    --background-color: #ffffff;
    --text-color: #111111;
  }
  