/* ToggleSwitch.css */

.toggle-switch {
    width: 50px;
    height: 25px;
    border-radius: 50px;
    background-color: #ccc; /* Fundo no estado padrão */
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-switch.on {
    background-color: #4caf50; /* Fundo no estado "ligado" padrão */
  }
  
  .toggle-switch.dark {
    background-color: #888; /* Fundo cinza para o modo escuro */
  }
  
  .toggle-thumb {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .toggle-switch.on .toggle-thumb {
    transform: translateX(25px); /* Move o "thumb" para a direita no estado "ligado" */
  }
  